# Dependencies
node_modules/

# Environment variables (VERY IMPORTANT)
.env

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids/
*.pid
*.seed

# Coverage reports
coverage/

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/

# Optional local files
*.local